[project]
	description = A replacement for Apple's xcodebuild that makes it easier to build and test iOS or OSX apps.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mohshin-shah
[access "refs/for/refs/*"]
	read = group user/mohshin-shah
	push = group user/mohshin-shah
	label-Code-Review = -2..+2 group user/mohshin-shah
	label-Verified = -1..+1 group user/mohshin-shah
	rebase = group user/mohshin-shah
	removeReviewer = group user/mohshin-shah
	submit = group user/mohshin-shah
[access "refs/heads/*"]
	read = group user/mohshin-shah
	create = group user/mohshin-shah
	push = +force group user/mohshin-shah
	pushMerge = group user/mohshin-shah
[access "refs/tags/*"]
	push = +force group user/mohshin-shah
	pushTag = group user/mohshin-shah
	pushSignedTag = group user/mohshin-shah
